<!DOCTYPE html>
<html>
  <head>
    <!-- Chen tap tin head.ejs -->
    <% include ../partials/head.ejs %>
    <!-- Ajax Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Jquery validation -->
    <script src="/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" class="init">
      var sock = "";
      var socket = io.connect("<%=conf%>"); //<%=conf%> chua duong dan socket
          sock = socket;
          var index = 0;
          pagesize = 10;
          var ishompage_loaddata = false;
          $(document).ready(function(){
              getListHistorySick('<%=conf%>','<%=token%>','<%=userId%>')
          });
    </script>
  </head>
  <body class="hold-transition skin-blue sidebar-mini" onload="showListBlockNotifi()" >
    <div class="wrapper">
      <!-- Chen tap tin sidebar.ejs va header.ejs -->
      <% include ../partials/siderbar.ejs %>
      <% include ../partials/header.ejs %>
      <!-- Phan noi dung chinh cua trang -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
                <h4><b>LỊCH SỬ DỊCH BỆNH</b></h4>
          <ol class="breadcrumb">
            <li><a href="/quantrac/nongdan"><i class="fa fa-dashboard"></i> Nông dân</a></li>
            <li><a href="/quantrac/nongdan/dotnuoi/danhsach"> Lịch sử dịch bệnh</a></li>
        
            <li class="active">Dịch bệnh</li>
          </ol>
        
        </section>
        <!-- Content body -->
        <section class="content">
            <!-- Khu vuc hien thi loi -->
            <div class="row">
                <div class="col-md-12" id= "error">              
                </div>
            </div>
            <!-- Modal cua notification -->
            <% include ../partials/notifiModal.ejs %>
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <!-- <a title = "Quay lại trang trước" href="/"><button class="btn btn-primary">Quay lại</button></a>  -->
                        <a title = "Dịch bệnh mới" href="/"><button class="btn btn-primary ">Thêm dịch bệnh mới</button></a>
                        <div id="pagination-container-history-sick" style="float: right"></div>
                      </div>
                </div>
                <div class="col-md-offset-6 col-md-3 col-sm-offset-6 col-sm-3">
                    <div class="form-group">
                      
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary ">
                        <div class="box-header with-border text-center">
                            <h3 class="box-title" ><b>LỊCH SỬ DỊCH BỆNH</h3>
                        </div>
                        <div class="box-body">
                      <!-- modal timeline -->
                          <div class="container" style=" overflow-y: scroll; width:auto;
                          height:500px;">
                                  <ul class="timeline" id="listHistorySick" >
                                     
                                      
                                  </ul>
                            </div>

                        </div> <!-- box body -->
                    </div> <!-- box primary -->
                </div> <!-- col md 12 -->
            </div> <!-- row -->
        </section>   
      <!-- /.content // -->
      </div>
      <!-- /.content-wrapper -->
      <!-- Chen tap tin footer.ejs va control_sidebar.ejs -->
      <% include ../partials/footer.ejs %>
      <% include ../partials/control_sidebar.ejs %>
    </div>
    <!-- ./wrapper -->
    <!-- Dinh nghia bien -->
  
    <!-- Chen tap tin script.ejs -->
    <% include ../partials/script.ejs %>
  </body>
</html>

