<!DOCTYPE html>
<html>
  <head>
    <!-- Chen tap tin head.ejs -->
    <% include ./../../partials/head.ejs %>
    <!-- Ajax Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Jquery validation -->
    <script src="/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" class="init">
		var sock = "";
		var socket = io.connect("<%=conf%>"); //<%=conf%> chua duong dan socket
        sock = socket;
        var index = 0;
        pagesize = 10;
        var ishompage_loaddata = false;
        $(document).ready(function(){
           renderEditMaterialPreparationDetail('<%=conf%>','<%=token%>','<%=userId%>','<%=pondpreparationId%>','<%=materialId%>');
       
        });
    </script>

  </head>
  <body class="hold-transition skin-blue sidebar-mini" onload="showListBlockNotifi()" >
    <div class="wrapper">
      <!-- Chen tap tin sidebar.ejs va header.ejs -->
      <% include ./../../partials/siderbar.ejs %>
      <% include ./../../partials/header.ejs %>
      <!-- Phan noi dung chinh cua trang -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
        <h4><b>CẬP NHẬT NHẬT KÝ NUÔI TÔM</b></h4>
          <ol class="breadcrumb">
            <li><a href="/quantrac/nongdan"><i class="fa fa-dashboard"></i> Nông dân</a></li>
            <li><a href="/quantrac/nongdan/dotnuoi/danhsach"> Nhật ký nuôi tôm</a></li>
            <li class="active">Nhật ký</li>
          </ol>
        
        </section>
        <!-- Content body -->
        <section class="content">
            <!-- Khu vuc hien thi loi -->
            <div class="row">
                <div class="col-md-12" id= "error">              
                </div>
            </div>
            <!-- Modal cua notification -->
            <% include ./../../partials/notifiModal.ejs %>
            <div class="row">
                <div class="col-md-5 col-sm-12">
                    <div class="form-group">
                        <a title = "Quay lại trang trước" href="/quantrac/nongdan/nhatki"><button class="btn btn-primary">Quay lại</button></a> 
                    </div>
                </div>
              
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary ">
                        <div class="box-header with-border text-center">
                            <h3 class="box-title" ><b>CẬP NHẬT VẬT LIỆU CHUẨN BỊ AO</h3><br>
                            <!-- <h3 class="box-title" ><b></h3> -->
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12" >
                                    <form name ="frmCapNhatVatLieu" id ="frmCapNhatVatLieu" action="/quantrac/nongdan/nhatki/capnhatvatlieu" method="post">
                                        <div class="row">
                                            <div class="col-md-4 col-sm-4">
                                                <div class="form-group">
                                                    <label class="control-label" for="matepredetail_date">Ngày xử lí:</label>
                                                    <div class="input-group">
                                                        <div class='input-group date col-md-12' id='datetimepicker5'>
                                                            <input type='text' data-date-format='yyyy-mm-dd' class="form-control" id="matepredetail_date" name="matepredetail_date" />
                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                        </div>
                                                        <script type="text/javascript">
                                                            $(function () {
                                                                $('#datetimepicker5').datepicker({
                                                                    format: 'YYYY/MM/DD',                                                                 
                                                                   
                                                                });
                                                            });
                                                        </script>   
                                                        <span style="color:red;font-weight:bold;" class="input-group-addon">(*)</span>
                                                    </div>
                                                    <span id="errormatepredetail_date"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <div class="form-group">
                                                    <label class="control-label" for="material_id">Loại vật liệu:</label>
                                                    <div class="input-group">
                                                        <select data-none-results-text="Không tìm thấy từ khóa tìm kiếm" data-live-search="true" id="material_id" name = "material_id" class="form-control selectpicker">
                                                            <option value="0">Chọn loại vật liệu</option>
                                                        </select>  
                                                        <span style="color:red;font-weight:bold;" class="input-group-addon">(*)</span>
                                                    </div>
                                                    <span id="errormaterial_id"></span>  
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <div class="form-group">
                                                    <label class="control-label" for="matepredetail_quantity">Số lượng:</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id = "matepredetail_quantity" name="matepredetail_quantity" placeholder="Nhập số lượng " />
                                                        <span style="color:red;font-weight:bold;" class="input-group-addon">(*)</span>
                                                    </div>
                                                    <span id="errormatepredetail_quantity"></span>  
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">                                           
                                            <div class="col-md-4 col-sm-4">
                                                <div class="form-group">
                                                    <label class="control-label" for="matepredetail_number">Số vật liệu:</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id ="matepredetail_number" name="matepredetail_number" placeholder="Nhập số vật liệu" />
                                                        <span style="color:red;font-weight:bold;" class="input-group-addon">(*)</span>
                                                    </div>
                                                    <span id="errormatepredetail_number"></span>  
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <label class="control-label" for="matepredetail_note">Ghi chú:</label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="matepredetail_note" name="matepredetail_note" placeholder="Nhập ghi chú" />
                                                    <input type="text" style="display: none;" class="form-control" id="pondpreparation_id" name="pondpreparation_id"/>
                                                    <input type="text" style="display: none;" value="<%=materialId%>" class="form-control" id="material_id_1" name="material_id_1"/>
                                                    <span id="errormatepredetail_note"></span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-offset-5 col-md-7 col-sm-offset-5 col-sm-7">
                                                <!-- <input title = "Thêm chi tiết " type="button" id ="" name="" value="Thêm" class="btn btn-primary" class="form-control" />&nbsp;&nbsp;&nbsp; -->
                                                <input title="Cập nhật" type="submit" id ="" name="" value="Cập nhật" class="btn btn-primary" class="form-control"  />
                                                <span style="color:red;font-weight:bold;">&nbsp;(*)</span> là bắt buộc
                                            </div>
                                        </div>
                                    </form>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
        </section>   
      <!-- /.content // -->
      </div>
      <!-- /.content-wrapper -->
      <!-- Chen tap tin footer.ejs va control_sidebar.ejs -->
      <% include ./../../partials/footer.ejs %>
      <% include ./../../partials/control_sidebar.ejs %>
    </div>
    <!-- ./wrapper -->
    <!-- Dinh nghia bien -->
  
    <!-- Chen tap tin script.ejs -->
    <% include ./../../partials/script.ejs %>
  </body>
</html>

