<!DOCTYPE html>
<html>
  <head>
    <!-- Chen tap tin head.ejs -->
    <% include ../partials/head.ejs %>
    <!-- Ajax Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Jquery validation -->
    <script src="/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" class="init">
		var sock = "";
		var socket = io.connect("<%=conf%>"); //<%=conf%> chua duong dan socket
        sock = socket;
        var index = 0;
        pagesize = 10;
        var ishompage_loaddata = false;
        $(document).ready(function(){
            getListDiary('<%=conf%>','<%=token%>','<%=userId%>','<%=userPhone%>')
           
       
        });
    </script>
     <style>
        .text1 {
            font-weight: normal;
            font-size: 15;
        }
        .div-inline {
            display:inline;
        }
    </style>
  </head>
  <body class="hold-transition skin-blue sidebar-mini" onload="showListBlockNotifi()" >
    <div class="wrapper">
      <!-- Chen tap tin sidebar.ejs va header.ejs -->
      <% include ../partials/siderbar.ejs %>
      <% include ../partials/header.ejs %>
      <!-- Phan noi dung chinh cua trang -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
                <h4><b>NHẬT KÝ NUÔI TÔM</b></h4>
          <ol class="breadcrumb">
            <li><a href="/quantrac/nongdan"><i class="fa fa-dashboard"></i> Nông dân</a></li>
            <li><a href="/quantrac/nongdan/dotnuoi/danhsach"> Nhật ký nuôi tôm</a></li>
        
            <li class="active">Nhật ký</li>
          </ol>
        
        </section>
        <!-- Content body -->
        <section class="content">
            <!-- Khu vuc hien thi loi -->
            <div class="row">
                <div class="col-md-12" id= "error">              
                </div>
            </div>
            <!-- Modal cua notification -->
            <% include ../partials/notifiModal.ejs %>
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <!-- <a title = "Quay lại trang trước" href="/"><button class="btn btn-primary">Quay lại</button></a>  -->
                        <!-- <a title ="" href="/quantrac/nongdan/nhatki/them"><button class="btn btn-primary ">Thêm Nhật Kí Nuôi</button></a> -->
                    </div>
                </div>
                <div class="col-md-offset-6 col-md-3 col-sm-offset-6 col-sm-3">
                    <div class="form-group">
                      
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary ">
                        <div class="box-header with-border text-center">
                            <h3 class="box-title" ><b>NHẬT KÝ NUÔI TÔM</h3>
                        </div>
                        <div class="box-body">
                            <!-- <div class="row">
                                <div class="col-md-3 col-sm-4">
                                    <div class="form-group">
                                     
                                    </div>
                                </div>
                                <div class="col-md-offset-6 col-md-3 col-sm-offset-2 col-sm-6">
                                </div>
                            </div> -->
                            <div class="row">
                                <div class="col-md-12 table-responsive" >
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr class="bg-primary">
                                                <th class="text-center" width="5%">ID</th>
                                                <th class="text-center" width="10%">Ao Nuôi</th>
                                                <th class="text-center" width="10%">Vụ Nuôi</th>
                                                <th class="text-center" width="15%">Trại Nuôi</th>
                                                <th class="text-center">Hình Thức Nuôi</th>
                                                <th class="text-center">Đối Tượng</th>
                                                <th class="text-center">Diện Tích Nuôi</th>
                                                <th class="text-center">Điện Thoại</th>
                                                <th class="text-center" width="10%">Địa Chỉ</th>
                                                <th class="text-center" width="10%">Thao tác</th>
                                            </tr>
                                        </thead>
                                        <tbody id="listDiary" >
                                         
                                        </tbody>
                                      
                                    </table>
                                    <div id="pagination-container-diary" style="float: right"></div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- <div class="col-md-12">
                                    <ul class="pagination pull-right" id="pagiBillList">
                                    </ul>
                                </div> -->
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>   
      <!-- /.content // -->
      </div>
      <!-- /.content-wrapper -->
      <!-- Chen tap tin footer.ejs va control_sidebar.ejs -->
      <% include ../partials/footer.ejs %>
      <% include ../partials/control_sidebar.ejs %>
    </div>
    <!-- ./wrapper -->
    <!-- Dinh nghia bien -->
  
    <!-- Chen tap tin script.ejs -->
    <% include ../partials/script.ejs %>
  </body>
</html>

